/******************************Preliminary******************************/

*{
   margin:0;
   padding:0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);

body {
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: white;
}

#wrap { 

}

#viewport {
	min-height: 700px;
	max-height: 800px;
	max-width: 1400px;
	min-width: 1000px;
	background-color: green;
	margin: auto;
	position: absolute;
	top: 30px; bottom: 30px; right: 30px; left: 30px;
}

nav {
	width: 25%;
	min-width: 200px;
	max-width: 300px;
	margin: 0px 0% 0% 22%;
	padding: 5px;
	position: relative;
	top: 300px;
}

#floating-nav {
	width: 80%;
	height: 45px;
	background: gray;
	margin: 30px auto;
	text-align: center;
	padding: 0px;
}

