/******************************Preliminary******************************/

*{
   margin:0;
   padding:0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);

body {
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: white;
}

#wrap { 
	width: 100%; 
	margin: 0 auto; 
	padding-top: 10px;
}



/******************************Header******************************/

header {
	height: 150px;
	width: 420px;
	margin-left: 8%;
}

p.header {
	position: relative;
  	top: 50%;
	transform: translateY(-50%);
  	font-size: 170%;
  	font-weight: 300;
}

img.logo {
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 0px solid #C2C2C2;
	margin-top: 25px;
	margin-right: 20px;
	box-shadow: 0px 1px 5px 3px #F2F2F2;
}

img.logo:hover {
	opacity: 1;
}

#logolink {
	width: 100px;
	height: 100px;
}


/******************************Nav Bar******************************/

nav {
	position: absolute;
	height: 40px;
	width: 390px;
	right: 8%;
	top: 140px;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid #FF9635;
	border-bottom: 20px solid transparent;
	float: left;
}

#triangle-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #FF9635;
	border-bottom: 20px solid transparent;
	float: right;
}

#nav {
	background-color: #FF9635;
	height: 40px;
	width: 310px;
	color: white;
	float: right;
	padding-left: 40px;
}

ul.nav {
	list-style-type: none;
	margin-top: 8px;
	padding-left: 10px;
}

li.nav {
  	display: inline-block;
}

li.nav:hover {
	text-shadow: 1px 2px #CC782A;
}

a {
	width: 60px;
	font-size: 120%;
	color: white;
	text-decoration: none;
}

p.nav {
  	font-size: 120%;
  	display: inline-block;
  	padding-right: 10px;
  	padding-left: 15px;
}




/******************************Quote******************************/

#empty {
	background-color: #C2C2C2;
	height: 50px;
	width: 100%;
	box-shadow: 0px 3px 0px #CC782A;
}


#quote {
	width: 100%;
	background-color: #FF9635;
	box-shadow: 0px 3px 0px #CC782A;
	margin-top: 3px;
}

p.quote {
	color: #F8F8F8;
	font-size: 300%;
	font-weight: bold;
	text-shadow: 1px 2px #858585;
	text-align: center;
	padding: 70px 50px;
}

#vidwrap {
	background-color: #FF9635;
	box-shadow: 0px 3px 0px #CC782A;
	margin-top: 3px;
}

video.video {
	padding: 0px;
	margin: 0px auto;
	display: block;
	width: 100%;
	height: 100%;
}



/******************************Image Gallery******************************/

#subheaderhighlight {
	background-color: #C2C2C2;
	width: 100%;
	height: 43px;
	text-align: center;
	padding-top: 7px;
}

#subheader1wrap {
	height: 40px;
	width: 390px;
	margin: 0 auto;
	margin-top: -20px;
}

#subheader1 {
	background-color: #FF9635;
	height: 40px;
	width: 310px;
	color: white;
	float: right;
	padding-left: 40px;
}

p.subheader1 {
	color: #F8F8F8;
	text-shadow: 1px 2px #858585;
	font-size: 170%;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 3px;
}

#subheaderhighlight2 {
	background-color: #C2C2C2;
	width: 86%;
	height: 50px;
	margin: 0 auto;
}

p.subheader2 {
	color: #F8F8F8;
	text-shadow: 1px 2px #858585;
	font-size: 170%;
	font-weight: bold;
	margin-left: 37px;
	margin-top: 3px;
}

p.subheader3 {
	color: #F8F8F8;
	text-shadow: 1px 2px #858585;
	font-size: 170%;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 3px;
}

p.subheader4 {
	color: #F8F8F8;
	text-shadow: 1px 2px #858585;
	font-size: 170%;
	font-weight: bold;
	margin-left: 55px;
	margin-top: 3px;
}

#images {
	width: 100%;
	background-color: white;
	margin-top: 3px;
}

#imagegallery1 {
	background-color: #EAEAEA;
	width: 86%;
	margin-top: -20px;
	margin-left: 7%;
	margin-right: 7%;
	text-align: center;
	padding: 50px 0px 50px 0px;
}

#imagegallery2 {
	background-color: #EAEAEA;
	width: 86%;
	margin-top: -20px;
	margin-left: 7%;
	margin-right: 7%;
	text-align: center;
	padding: 50px 0px 50px 0px;
}

a.img {
	background-color: #C2C2C2;
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 30px 10px 30px 10px;
	border-radius: 25px;
	border: 1px solid #C2C2C2;
	box-shadow: 0px 2px 1px #BEBEBE;
	transition: transform .2s ease-in-out, box-shadow .1s ease-in-out;
}

a.img:hover {
	transform: translate3d(0px, -3px, 0px);
	box-shadow: 0px 6px 4px #BEBEBE;
}

img:hover {
	opacity: 1;
}

img {
	border-radius: 25px;
	border: 2px solid #C2C2C2;
}

p.img {
	margin: 0px 20px;
	color: #6D6D6D;
}

#fullsize {
	width: 100%;
	background-color: #CC782A;
	margin-top: 3px;
	padding: 0px 0px;
}

img.fullsize {
	width: 100%;
	height: 100%;
	border-radius: 0px;
	border: 0px solid white;
	margin: 0px;
}

a.fullsize {
	color: #F8F8F8;
	font-size: 180%;
	font-weight: bold;
	text-shadow: 1px 2px #858585;
	margin-top: 10px;
}

a.fullsize:hover {
	color: #FFC266;
}



/******************************Footer******************************/

footer {
	width: 100%;
	height: 80px;
	background-color: #FF9635;
	margin-top: 50px;
}

p.footer {
	color: white;
	text-align: center;
	position: relative;
  	top: 50%;
	transform: translateY(-50%);
	font-size: 80%;
}

ul.footer {
	list-style-type: none;
	margin-top: 8px;
	padding-left: 10px;
	color: white;
	text-align: center;
	position: relative;
  	top: 50%;
	transform: translateY(-50%);
	font-size: 80%;
}

li.footer {
  	display: inline-block;
}



/******************************About Page******************************/

img.about {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	border: 4px solid #CC782A;
	margin-bottom: 15px;
}

img.about:hover {
	opacity: 1;
}

#aboutbody {
	width: 100%;
	background-color: #FF9635;
	box-shadow: 0px 3px 0px #CC782A;
	margin-top: 3px;
	padding: 40px 0px;
	text-align: center;
}

p.aboutbody {
	color: #F8F8F8;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 1px 2px #858585;
	text-align: left;
	margin: 20px 40px 20px 40px;
}




/******************************Contact Page******************************/

#contactbody {
	width: 100%;
	background-color: #FF9635;
	box-shadow: 0px 3px 0px #CC782A;
	margin-top: 3px;
	padding: 40px 0px 60px 0px;
	text-align: center;
}

p.contacth1 {
	color: #F8F8F8;
	font-size: 350%;
	font-weight: bold;
	text-shadow: 1px 2px #858585;
	text-align: center;
	margin: 20px 40px 20px 40px;
}

p.contacth2 {
	color: #F8F8F8;
	font-size: 250%;
	font-weight: bold;
	text-shadow: 1px 2px #858585;
	text-align: center;
	margin: 20px 40px 50px 40px;
}

p.contact {
	color: #F8F8F8;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 1px 2px #858585;
	text-align: center;
	margin: 40px auto 20px auto;
	width: 130px;
}

p.contact:hover {
	color: #FFC266;
}

hr {
    border: 0;
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background: #333;
    background-image: linear-gradient(to right, #FF9635, #F8F8F8, #FF9635);
}